# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos y carpetas específicas de editores/IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de dependencias y módulos
node_modules/
npm-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos generados en tiempo de ejecución
/dist
/build

# Archivos temporales
*.log
*.tmp
*~
